ul {
    list-style: none;
}

.navbar-brand img {
    height: 50px;
}

main {
    margin-top: 1em;
}

.section-content {
    margin-top: 1em;
}

.form-signin {
    max-width: 330px;
    margin: 0 auto;
}

footer {
    margin-top: 1em;
}