

ul {
    list-style: none;
}

.navbar-brand img {
    height: 50px;
}

.dropdown-item {
    color: #007bff;
}

main {
    margin-top: 2em;
}

.section-content {
    margin-top: 1em;
}

.form-signin {
    max-width: 330px;
    margin: 0 auto;
}

.one-em {
    margin-top: 1em;
}

#message {
    margin: 2em 0;
}

footer {
    margin-top: 2em;
}
