<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Codeversation!</title>
</head>
<body>
    <h1>Welcome to the Codeversation!</h1>
    <p><a href="/login">Login</a> or <a href="/login/register">register</a></p>
    <h2>Forum</h2>
    <p><a href="/forum/general">Link to General Chat</a></p>
    <p><a href="/forum/questions">Questions & Answers</a></p>
    <p><a href="/forum/collab-corner">Link to Collaboration Corner</a></p>
    <p><a href="/forum/news">Link to Tech News</a></p>
    <p><a href="/forum/jobs">Link to Job Postings</a></p>
</body>
</html>